// #header {
//     position: sticky;
//     top: 0;
//     z-index: 10;
//   }
// #carousel {
//     z-index: 1;
// }
.contain {
    margin-top: 150px;
    min-width: 100%;
    margin: auto;
    position: relative;
}

.cont {
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    display: flex;
    margin-top: 50px;
    align-items: center;
}

.vl {
    border-left: 3px solid #000000;
    height: 300px;
}

.vl1 {
    margin-left: 1%;
    border-left: 3px solid #000000;
    height: 300px;
}

.co {
    margin-top: 15px;
    display: flex;
    position: relative;
    left: 5%;
    margin-right: 5%;
}

.ptext {
    display: flex;
    flex-direction: column;
}

.specev ul.ph1 {
    width: 250px;
    height: auto;
    min-width: 200px;
}

.kamarmndi {
    width: 300px;
}

.itm {
    font-size: 16px;
}

.jdl {
    font-size: 18px;
}

@media (max-width: 768px) {
    .contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .cont {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
    }

    .vl {
        border-left: 3px solid #000000;
        height: 30px;
        opacity: 0;
    }

    .vl1 {
        margin-left: 1%;
        border-left: 3px solid #000000;
        height: 0px;
        opacity: 0;
    }

    .co {
        position: relative;
        margin-top: 0;
        left: 0%;
        text-align: center;
        margin-right: 0%;
        flex-direction: column;
    }

    .specev ul.ph1 {
        display: flex;
        justify-content: center;
        width: 250px;
        height: auto;
        min-width: 200px;
        margin-top: 10%;
    }

    .kamarmndi {
        margin-top: 10px;
        text-align: left;
    }
}

.header {
    background-color: rgb(255, 255, 255);
    padding: 1px;
}

.content {
    padding: 10px;
    padding-bottom: 370px;
}

.title {
    padding-top: 20px;
    padding-left: 3%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.content {
    padding: 10px;
    padding-bottom: 370px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
}

ul {
    list-style: none;
}

.kon {
    display: flex;
    flex-direction: column;
}

.footer {
    background-color: #457543;
    padding: 70px 0;
    margin-top: 10%;
    bottom: 0;
    width: 100%;
}

.social-links {
    margin-top: 10%;
}

.footer-col {
    width: auto;
    padding-left: 15%;
}

.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    // text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
}

// .footer-col h4::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: -10;
//     background-color: #e91e63;
//     height: 2px;
//     box-sizing: border-box;
//     width: 50px;
// }
.footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col ul li a {
    font-size: 16px;
    // text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
}

.footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
}

.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #457543;
    transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #2a4b2a;
}

@media (max-width:1024px) {
    .social-links {
        margin-top: 13%;
    }
}

@media (max-width:768px) {
    .footer-col {
        width: auto;
    }
    .title {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 100px;
    }

    .footer-col {
        width: auto;
        margin-bottom: 30px;
    }
}

@media (max-width: 574px) {
    .footer-col {
        width: auto;
    }
}

@media (max-width:425px) {
    .social-links {
        margin-top: 4%;
    }

    .row {
        margin-left: 4%;
    }

    .title p {
        text-align: center;
        font-size: 40px;
    }
}

@media (max-width:320px) {
    .title p {
        text-align: center;
        font-size: 35px;
    }
}

.title-white {
    color: white;
}

.title-black {
    color: black;
}



.title {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 72px;
    /* identical to box height */
    color: #2C512B;
}

* {
    box-sizing: border-box;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {
    margin: 0 -5px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the counter cards */

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}

.con {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    width: 400px;
    height: 500px;
    margin: 35px auto;
    border-radius: 10px;
    box-shadow: 10px 10px rgba(0, 0, 0, 0.22), 10px 10px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.4s;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    text-align: center;
    background-color: #457543;
}

.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
}

.card img {
    width: inherit;
    height: inherit;
    border-radius: 10px;
    object-fit: cover;
}

.card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -80px;
    height: 40px;
}

.card:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.22), 10px 10px rgba(0, 0, 0, 0.25);
}

@media all and (max-width: 500px) {
    .card-list {
        /* On small screens, we are no longer using row direction but column */
        flex-direction: column;
    }

    .card {
        width: 200px;
    }
}

@media (max-width: 768px) {
    .con {
        flex-direction: column;
    }

    .card {
        width: 380px;
    }
}

@media (max-width: 375px) {
    .con {
        flex-direction: column;
    }

    .card {
        width: 280px;
    }
}

.texto {
    text-align: start;
    color: white;
    padding: 16px;
}
.fa-solid{
    font-size: x-large;
}