<body>
  <div class="kon">
    <div class="contain">
      <div class="carousel" style="margin-top: 5rem">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img
                [src]="slide.src"
                alt="{{ slide.title }}"
                class="d-block w-100"
                loading="lazy"
              />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control
            [routerLink]
            caption="Previous"
            direction="prev"
          ></c-carousel-control>
          <c-carousel-control
            [routerLink]
            caption="Next"
            direction="next"
          ></c-carousel-control>
        </c-carousel>
      </div>

      <div class="title">
        <p>Hotel Facilities</p>
      </div>
      <div class="body">
        <div class="con">
          <div class="card">
            <img src="../../assets/img/Lobby.jpg" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-synagogue"></i> Drop Off Lobby
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/8.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-square-parking"></i> Parking Space
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-campground"></i> Outdoor Space
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-wifi"></i> Internet/Wifi
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-person-praying"></i> Praying Room
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-lock"></i> 24 Hours Security
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-kitchen-set"></i> All Day Dinning Service
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-money-bill"></i> Payment Method
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>

          <div class="card">
            <img src="../../assets/img/image 2.png" alt="" />
            <br />
            <div class="texto">
              <p style="font-weight: 600; letter-spacing: 2px">
                <i class="fa-solid fa-circle-info"></i> Information and Call
                Center
              </p>
              <p style="font-weight: 400">
                To help you stay connected, Indonesia Convention Exhibition
                (ICE) provides Wi-Fi service for all visitors on a complimentary
                basis. The free wireless access is available throughout the
                venue when you connect to “ICE FREE” Wi-Fi connection.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="footer-col">
          <div class="social-links">
            <a href="https://wa.me/+6281325852102" target="_blank"
              ><i class="fab fa-whatsapp"></i
            ></a>
            <a href="https://twitter.com/SejahteraWisma"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.instagram.com/wismasejahteramagelang/"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.youtube.com/@wismasejahtera6019"
              ><i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
              </a>
            </li>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                >Utara, Kota Magelang, Jawa Tengah 59155</a
              >
            </li>
            <div class="karepe" style="margin-top: 25px">
              <li>
                <a class="ktl" href="https://wa.me/+6281325852102"
                  >Phone : (0293) 362185</a
                >
              </li>
              <li>
                <a href="mailto:wismasejahteramgl@gmail.com"
                  >Email : wismasejahteramgl@gmail.com</a
                >
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
