<body>
    <div class="contain">
        <div class="carousel" style="margin-top: 5rem">
            <c-carousel>
              <c-carousel-indicators></c-carousel-indicators>
              <c-carousel-inner>
                <c-carousel-item *ngFor="let slide of slides">
                  <img
                    [src]="slide.src"
                    alt="{{ slide.title }}"
                    class="d-block w-100"
                    loading="lazy"
                  />
                </c-carousel-item>
              </c-carousel-inner>
              <c-carousel-control
                [routerLink]
                caption="Previous"
                direction="prev"
              ></c-carousel-control>
              <c-carousel-control
                [routerLink]
                caption="Next"
                direction="next"
              ></c-carousel-control>
            </c-carousel>
        </div>
        <div class="cont">
            <div class="specev">
                <ul class="ph1">
                    <img src="../../assets/Facilities Hotel.svg" alt="" />
                </ul>
            </div>
            <div class="vl"></div>
            <div class="vl1"></div>
            <div class="ptext">
                <div class="co">
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-bath"></i>
                            Kamar Mandi
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Tisu toilet
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Bathtub atau shower
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Kamar mandi pribadi
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Toilet
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Shower
                        </p>
                    </div>
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-campground"></i>
                            Outdoor
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Perabotan luar ruangan
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Teras
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Taman
                        </p>
                    </div>
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-couch"></i>
                            Layanan
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Layanan kebersihan harian
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Check-in / out pribadi
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Fasilitas rapat / perjamuan*
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Invoice disediakan
                        </p>
                    </div>
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-language"></i>
                            Bahasa yang digunakan
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Bahasa Inggris
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Bahasa Indonesia
                        </p>
                    </div>
                </div>
                <div class="co">
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-lock"></i>
                            Keamanan
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Alat pemadam api ringan
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            CCTV tempat umum
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Keamanan 24jam
                        </p>
                    </div>
                    <div class="kamarmndi">
                        <p class="jdl" style="font-family: Poppins; font-weight: bold;">
                            <i class="fa-solid fa-hotel"></i>
                            Fasilitas Umum
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            AC
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            TV
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Parkir gratis
                        </p>
                        <p class="itm">
                            <i class="fa-solid fa-circle fa-2xs"></i>
                            Koneksi Wi-Fi
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<div class="footer">
  <div class="row">
      <div class="footer-col">
          <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
      </div>        
      <div class="footer-col">
          <ul>
              <li><a href="#">Jl. Serayu II No.44, Kedungsari, Kec. Magelang  </a></li>
              <li><a href="#">Utara, Kota Magelang, Jawa Tengah 59155</a></li>
              <div class="karepe" style="margin-top: 25px;">
              <li><a href="#">Phone : (0293) 362185</a></li>
              <li><a href="#">Email : wismasejahtera@gmail.com</a></li>
              </div>
          </ul>
      </div>
  </div>
</div>