// #header {
//     position: sticky;
//     top: 0;
//     z-index: 10;
//   }

// #carousel {
//     z-index: 1;
// }
.contain {
    margin-top: 150px;
    min-width: 100%;
    margin: auto;
    position: relative;
  }

  .cont {
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    display: flex;
    margin-top: 150px;
    align-items: center;
  }

  .vl {
    border-left: 3px solid #000000;
    height: 300px;
  }

  .vl1 {
    margin-left: 1%;
    border-left: 3px solid #000000;
    height: 300px;
  }


  .co{
    margin-top: 15px;
    display: flex;
    position: relative;
    left: 5%;
    margin-right: 5%;
  }

  .ptext{
    display: flex;
    flex-direction: column;
  }

  .specev ul.ph1{
    width: 250px;
    height: auto;
    min-width: 200px;
  }
  
  .kamarmndi {
    width: 300px;
  }

  .itm {
    font-size: 14px;
  }
  .jdl {
    font-size: 16px;
  }

  @media (max-width: 768px) {
    .contain {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .cont {
      margin-left: 5%;
      margin-right: 5%;
      display: flex;
      margin-top: 150px;
      align-items: center;
      flex-direction: column ;
    }
  
    .vl {
      border-left: 3px solid #000000;
      height: 30px;
      opacity: 0;
    }
  
    .vl1 {
      margin-left: 1%;
      border-left: 3px solid #000000;
      height: 0px;
      opacity: 0;
    }
  
  
    .co{
      position: relative;
      margin-top: 0;
      left: 0%;
      text-align: center;
      margin-right: 0%;
      flex-direction: column;
    }
  
    .specev ul.ph1{
      display: flex;
      justify-content: center;
      width: 250px;
      height: auto;
      min-width: 200px;
    }
    .kamarmndi {
      margin-top: 10px;
      text-align: left;
    }
  }
  
  .header {
    background-color: rgb(255, 255, 255);
    padding: 1px;
  }
  
  .content {
    padding: 10px;
    padding-bottom: 370px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #457543;
    padding: 70px 0;
    position: relative;
    bottom: 0;
    margin-top: 35%;
    width: 100%;
  }
  
  .social-links {
    margin-top: 10%;
  }
  
  .footer-col {
    width: 25%;
    padding-left: 5%;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  
  // .footer-col h4::before {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: -10;
  //     background-color: #e91e63;
  //     height: 2px;
  //     box-sizing: border-box;
  //     width: 50px;
  // }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #457543;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #2a4b2a;
  }
  
  @media(max-width: 767px) {
    .footer-col {
        width: 50%;
       
        margin-bottom: 30px;
    }
  
  }
  
  @media(max-width: 574px) {
    .footer-col {
        width: 100%;
        
    }
  
  }
  
  
  body {
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  
  .contain {
    min-width: 100%;
    // margin: auto;
    position: absolute;
  }
  
  .header {
    background-color: rgb(255, 255, 255);
    padding: 1px;
  }
  
  .content {
    padding: 10px;
    padding-bottom: 370px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }
  
  .footer {
    background-color: #457543;
    padding: 70px 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .social-links {
    margin-top: 10%;
  }
  
  .footer-col {
    width: 25%;
    padding-left: 5%;
  }
  
  .footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  
  
  // .footer-col h4::before {
  //     content: "";
  //     position: absolute;
  //     left: 0;
  //     bottom: -10;
  //     background-color: #e91e63;
  //     height: 2px;
  //     box-sizing: border-box;
  //     width: 50px;
  // }
  
  .footer-col ul li:not(:last-child) {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #ffffff;
    display: block;
    transition: all 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: #020202;
    padding-left: 8px;
  }
  
  .footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #ffffff;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #457543;
    transition: all 0.5s ease;
  }
  
  .footer-col .social-links a:hover {
    color: #ffffff;
    background-color: #2a4b2a;
  }
  
  @media(max-width: 767px) {
    .footer-col {
        width: 50%;
        margin-bottom: 30px;
    }
  
  }
  
  @media(max-width: 574px) {
    .footer-col {
        width: 100%;
    }
  
  }
  
  
  