
.contain {
  // margin-top: 100px;
  min-width: 100%;
  margin: auto;
  position: relative;
  padding: none;
}
  
  .header {
    background-color: rgb(255, 255, 255);
    padding: 1px;
  }
  
  .content {
    padding: 10px;
    padding-bottom: 370px;
  }
  
  h1 {
    text-align: center;
    color: #ffffff;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: 0px;
    justify-content: space-between;
  }
  
  ul {
    list-style: none;
  }

  .cont {
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    display: flex;
    margin-top: 70px;
    align-items: center;
  }

  .vl {
    border-left: 3px solid #000000;
    height: 400px;
  }

  .vl1 {
    margin-left: 1%;
    border-left: 3px solid #000000;
    height: 400px;
  }


  .ptext{
    position: relative;
    left: 5%;
    margin-right: 5%;
  }

  .jtext{
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 5%;
    padding-bottom: 1%;
    margin-right: 5%;
  }

  .tt{
    display: flex;
    flex-direction: column;
  }

  .specev ul.ph1{
    width: 250px;
    height: auto;
    min-width: 200px;
  }

  .lain ul.lne{
    width: 250px;
    height: auto;
    min-width: 200px;
  }

  @media (max-width: 768px) {
    .cont {
      margin-left: 5%;
      margin-right: 5%;
      float: left;
      display: flex;
      // margin-top: 150px;
      align-items: center;
      flex-direction: column ;
    }
  
    .vl {
      border-left: 3px solid #000000;
      height: 15px;
      opacity: 0;
    }
  
    .vl1 {
      margin-left: 1%;
      border-left: 3px solid #000000;
      height: 0px;
      opacity: 0;
    }
  
  
    .ptext{
      position: relative;
      left: 5%;
      text-align: left;
      margin-right: 5%;
    }
    .jtext{
      font-weight: bold;
      position: relative;
      left: 5%;
      text-align: left;
      margin-right: 5%;
    }
  
    .specev ul.ph1{
      display: flex;
      justify-content: center;
      width: 250px;
      height: auto;
      min-width: 200px;
    }
  }