<body>
  <div class="kon">
    <div class="contain">
      <div class="carousel" style="margin-top: 5rem">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img
                [src]="slide.src"
                alt="{{ slide.title }}"
                class="d-block w-100"
                loading="lazy"
              />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control
            [routerLink]
            caption="Previous"
            direction="prev"
          ></c-carousel-control>
          <c-carousel-control
            [routerLink]
            caption="Next"
            direction="next"
          ></c-carousel-control>
        </c-carousel>
      </div>
      <div class="cont">
        <div class="specev">
          <ul class="ph1">
            <img src="../assets/img/Group 48.png" />
          </ul>
        </div>
        <div class="vl"></div>
        <div class="vl1"></div>
        <div class="tt">
          <p class="jtext mt-3">Wedding Information</p>
          <p class="ptext">
            Hotel Wisma Sejahtera Wedding Organizer adalah pilihan terbaik untuk
            pernikahan dan pesta Anda yang sempurna dan eksklusif. Kami
            menawarkan pengaturan dan layanan pernikahan yang komprehensif
            dengan gaya tradisional dan Internasional. Kami juga memberikan
            layanan lengkap terbaik kami, termasuk upacara master, dekorasi,
            tata rias, rias rambut, foto pre-wedding, dan banyak lainnya sesuai
            kebutuhan Anda.
          </p>

          <!-- <p class="jtext mt-3">Fasilitas kamar</p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            AC
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Air minum
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Televisi
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Kamar Mandi
          </p> -->
          <p class="jtext mt-3 mb-6">
            Mengapa Anda Harus Memilih Hotel Salak The Heritage untuk Pernikahan
            Anda?
          </p>
          <p class="ptext">
            1. Perencana Pernikahan yang Profesional dan Berkomitmen Tinggi
            Perencana pernikahan kami dapat berkomunikasi dalam Bahasa Inggris
            dan Bahasa Indonesia. Tim kami memiliki pengalaman lebih dari 20
            tahun dalam menyelenggarakan pesta pernikahan dengan berbagai gaya
            dan pengaturan, VVIP dan jumlah tamu yang tinggi, membantu Anda
            menciptakan acara pernikahan yang berkesan.
          </p>
          <p class="ptext" style="padding-top: 1%">
            2. Makanan dan Minuman Berkualitas Hotel Bintang 4 dari Chef
            Profesional Kami menyediakan penyedia makanan dan minuman yang
            berdedikasi tinggi dan profesional untuk menciptakan serangkaian
            pilihan menu unik yang sangat sesuai dengan selera dan gaya Anda,
            seperti Nasi Goreng Mozzarella, Rendang Pagaruyung, Sate Sosis
            Buatan Rumah, dll.
          </p>
          <p class="ptext" style="padding-top: 1%">
            3. Bekerjasama dengan Penyedia Pernikahan Berpengalaman Kami
            memiliki mitra dekorator, pengantin, fotografer, pembawa acara, dan
            hiburan profesional dan berpengalaman yang akan membantu Anda
            memilih layanan terbaik, dan memberi Anda diskon besar.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <!--Product Grid-->

    <b
      style="
        font-size: 30px;
        text-align: center;
        font-family: Montserrat;
        width: 100%;
        margin-bottom: 2%;
        line-height: 1;
      "
      >Informasi Acara & Rapat</b
    >

    <div id="div1">
      <section class="section-grid">
        <div class="grid-prod">
          <div class="prod-grid">
            <img src="../assets/img/resepsi1 (1).png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show1" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy1()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show1 = !show1"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/rm.png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show2" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy2()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show2 = !show2"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/rm2.png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show3" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy3()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show3 = !show3"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/resepsi1 (2).png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show4" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy4()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show4 = !show4"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/resepsi1 (3).png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show5" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy5()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show5 = !show5"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/outdor.png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show6" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy6()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show6 = !show6"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/3.png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show7" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy7()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show7 = !show7"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
          <div class="prod-grid">
            <img src="../assets/img/5.png" alt="kalita" />
            <h2><b>Padjajaran 1</b></h2>
            <ul class="bbi">
              <ul *ngIf="show8" style="text-align: justify; margin-bottom: 7%">
                <li>Lantai : lantai 4TH</li>
                <li>Dimensi : 12,5 x 10,5m2</li>
                <li>Tinggi : 3,1 m</li>
                <li>Teater : 70 - 100</li>
                <li>Kelas : 40 - 70</li>
                <li>Meja bundar : 30 - 50</li>
                <li>Bentuk-U : 20 - 40</li>
                <li>Penerimaan : 100 - 150</li>
                <button
                  (click)="learnBuy8()"
                  class="rrm btn red block circular mt-4"
                  style="width: 100%"
                >
                  Buy Now
                </button>
              </ul>
              <li>
                <button
                  (click)="show8 = !show8"
                  class="rrm btn red block circular"
                  style="font-size: 20px; width: 100%"
                >
                  DETAIL
                </button>
              </li>
            </ul>
            <br />
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="footer">
    <div class="row">
      <div class="footer-col">
        <div class="social-links">
          <a href="https://wa.me/+628988735324" target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
          <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <ul>
          <li>
            <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
            </a>
          </li>
          <li>
            <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Utara, Kota Magelang, Jawa Tengah 59155</a
            >
          </li>
          <div class="karepe" style="margin-top: 25px">
            <li>
              <a class="ktl" href="https://wa.me/+628988735324"
                >Phone : (0293) 362185</a
              >
            </li>
            <li>
              <a class="ktl" href="mailto:wismasejahtera@gmail.com"
                >Email : wismasejahtera @gmail.com</a
              >
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</body>
