<body>
  <div class="contain">
    <div class="carousel" style="margin-top: 5rem">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
              loading="lazy"
            />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control
          [routerLink]
          caption="Previous"
          direction="prev"
        ></c-carousel-control>
        <c-carousel-control
          [routerLink]
          caption="Next"
          direction="next"
        ></c-carousel-control>
      </c-carousel>
    </div>
    <div class="cont">
      <div class="specev">
        <ul class="ph1">
          <img src="../assets/img/Group 38.png" alt="" />
        </ul>
      </div>
      <div class="vl"></div>
      <div class="vl1"></div>
      <p class="ptext">
        We understand that planning a successful event requires connections
        ongoing relationship with your team and guests. We help
        enhance your entire show. At the Wisma Sejahtera Hotel, we
        will help you bring people together for an unforgettable reunion, from
        school farewells, and special events. Our talented staff will partner
        with you to design exclusive events, ensuring you have
        unique creative theme. We will work to ensure everything
        run the way you want. 
      </p>
    </div>
  </div>
</body>
<footer>
  <div class="footer">
    <div class="row">
      <div class="footer-col">
        <div class="social-links">
          <a href="https://wa.me/+6281325852102" target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
          <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <ul>
          <li>
            <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
            </a>
          </li>
          <li>
            <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Utara, Kota Magelang, Jawa Tengah 59155</a
            >
          </li>
          <div class="karepe" style="margin-top: 25px">
            <li>
              <a href="https://wa.me/+6281325852102">Phone : (0293) 362185</a>
            </li>
            <li>
              <a href="mailto:wismasejahteramgl@gmail.com">Email : wismasejahteramgl@gmail.com</a>

            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
