<body>
    <div class="contain">
        <!-- <div class="carousel" style="margin-top: 5rem">
            <c-carousel>
                <c-carousel-indicators></c-carousel-indicators>
                <c-carousel-inner>
                    <c-carousel-item *ngFor="let slide of slides">
                        <img [src]="slide.src" alt="{{ slide.title }}" class="d-block w-100" loading="lazy" />
                    </c-carousel-item>
                </c-carousel-inner>
                <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
                <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
            </c-carousel>
        </div> -->
        <div class="cont">
            <div class="specev">
                <ul class="ph1">
                    <img src="../assets/Group 38.png" alt="" />
                </ul>
            </div>
            <div class="vl"></div>
            <div class="vl1"></div>
            <p class="ptext">
                Terletak 20,9 km dari Candi Borobudur, wisma sejahtera hotel
                menawarkan akomodasi bintang 2 di Magelang dan memiliki teras.
                Dengan taman, hotel bintang 2 ini memiliki kamar-kamar ber-AC dengan
                Wi-Fi gratis, masing-masing dengan kamar mandi pribadi. Hotel ini
                memiliki kamar keluarga. Kamar-kamar di hotel ini dilengkapi dengan
                TV layar datar. Stasiun Tugu Yogyakarta berjarak 45,1 km dari hotel
                wisma sejahtera, sedangkan Tugu Yogyakarta berjarak 45,1 km dari
                properti. Bandara terdekat adalah Bandara Internasional Adisutjipto,
                51,5 km dari akomodasi.
            </p>
        </div>
    </div>
</body>
<!-- <footer>
    <div class="footer">
        <div class="row">
            <div class="footer-col">
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>        
            <div class="footer-col">
                <ul>
                    <li><a href="#">Jl. Serayu II No.44, Kedungsari, Kec. Magelang  </a></li>
                    <li><a href="#">Utara, Kota Magelang, Jawa Tengah 59155</a></li>
                    <div class="karepe" style="margin-top: 25px;">
                    <li><a href="#">Phone : (0293) 362185</a></li>
                    <li><a href="#">Email : wismasejahtera@gmail.com</a></li>
                    </div>
                </ul>
            </div>
        </div>
        
      </div>
</footer> -->