<body>
  <div class="contain">
    <div class="carousel" style="margin-top: 5rem">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
              loading="lazy"
            />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control
          [routerLink]
          caption="Previous"
          direction="prev"
        ></c-carousel-control>
        <c-carousel-control
          [routerLink]
          caption="Next"
          direction="next"
        ></c-carousel-control>
      </c-carousel>
    </div>
    <div class="cont">
      <div class="specev">
        <ul class="ph1">
          <img src="../assets/img/Group 38.png" alt="" />
        </ul>
      </div>
      <div class="vl"></div>
      <div class="vl1"></div>
      <p class="ptext">
        Kami memahami bahwa merencanakan acara yang sukses membutuhkan koneksi
        yang berkelanjutan dengan tim dan tamu Anda. Hotel Salak membantu
        menyempurnakan seluruh pertunjukan Anda. Di Hotel Wisma Sejahtera, kami
        akan membantu Anda menyatukan orang-orang untuk reuni tak terlupakan,
        perpisahan sekolah, dan acara khusus. Staf berbakat kami akan bermitra
        dengan Anda untuk merancang acara eksklusif, memastikan Anda memiliki
        tema kreatif yang unik. Kami akan bekerja untuk memastikan semuanya
        berjalan seperti yang Anda inginkan. Karena ketika itu terjadi, hal
        besar terjadi.
      </p>
    </div>
  </div>
</body>
<footer>
  <div class="footer">
    <div class="row">
      <div class="footer-col">
        <div class="social-links">
          <a href="https://wa.me/+628988735324" target="_blank"
            ><i class="fab fa-whatsapp"></i
          ></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
      <div class="footer-col">
        <ul>
          <li>
            <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
            </a>
          </li>
          <li>
            <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
              >Utara, Kota Magelang, Jawa Tengah 59155</a
            >
          </li>
          <div class="karepe" style="margin-top: 25px">
            <li>
              <a href="https://wa.me/+628988735324">Phone : (0293) 362185</a>
            </li>
            <li>
              <a href="mailto:wismasejahtera@gmail.com"
                >Email : wismasejahtera @gmail.com</a
              >
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>
</footer>
