<body>
  <div class="kon">
    <div class="contain">
      <div class="carousel" style="margin-top: 5rem">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img [src]="slide.src" alt="{{ slide.title }}" class="d-block w-100 h-100" loading="lazy" />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>
      <div class="cont">
        <div class="specev">
          <ul class="ph1">
            <a (click)="learnBuy4()">
              <img src="../assets/img/room.svg" />
            </a>
          </ul>
        </div>
        <div class="vl"></div>
        <div class="vl1"></div>
        <div class="tt">
          <p class="jtext mt-3">Deskripsi Kamar</p>
          <p class="ptext">
            Kamar memiliki luas 19,5 meter persegi, tersedia dalam dua tempat
            tidur single. kamar ini memiliki fasilitas AC, Heather, TV 32'',
            Shower, wi-fi lengkap, air mineral, sarapan gratis, teras
          </p>
          <p class="jtext mt-3">Fasilitas kamar</p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            AC
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Air minum
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Televisi
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Kamar Mandi
          </p>
          <p class="jtext mt-3 mb-6">
            Check in di atas pukul 23.00, wajib untuk menghubungi hotel terlebih
            dahulu.
          </p>
          <p class="ptext">
            Hotel ini memiliki kebijakan untuk tidak menerima reservasi yang
            dibuat oleh pasangan non-menikah dalam satu kamar. Pasangan yang
            sudah menikah harus memiliki dan memperlihatkan identitas diri
            seperti KTP suami-Istri dengan alamat yang sama / fotokopi Buku
            Nikah / foto-foto pernikahan pada saat registrasi. Pihak hotel
            berhak untuk membatalkan/menolak reservasi jika tamu tidak
            dapat/menolak menunjukkan kartu identitas yang diminta.
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="footer-col">
          <div class="social-links">
            <a href="https://wa.me/+628988735324" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9">Jl. Serayu II No.44, Kedungsari, Kec. Magelang
              </a>
            </li>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9">Utara, Kota Magelang, Jawa Tengah 59155</a>
            </li>
            <div class="karepe" style="margin-top: 25px">
              <li>
                <a class="ktl" href="https://wa.me/+6281325852102">Phone : (0293) 362185</a>
              </li>
              <li>
                <a class="ktl" href="mailto:wismasejahtera@gmail.com">Email : wismasejahtera @gmail.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>