<body>
  <div class="kon">
    <div class="contain">
      <div class="carousel" style="margin-top: 5rem">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img [src]="slide.src" alt="{{ slide.title }}" class="d-block w-100 h-100" loading="lazy" />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
          <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
        </c-carousel>
      </div>
      <div class="cont">
        <div class="specev">
          <ul class="ph1">
            <a (click)="learnBuy4()">
              <img src="../assets/img/room.svg" />
            </a>
          </ul>
        </div>
        <div class="vl"></div>
        <div class="vl1"></div>
        <div class="tt">
          <p class="jtext mt-3">Room Description</p>
          <p class="ptext">
            This room has an area of ​​19.5 square meters, available in two places
            single sleep. This room has AC, Heather, 32'' TV,
            Shower, full wi-fi, mineral water, free breakfast, terrace          </p>
          <p class="jtext mt-3">Room Facilities</p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            AC
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Drink
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Television
          </p>
          <p class="ptext">
            <i class="fa-solid fa-circle fa-2xs"></i>
            Bathroom
          </p>
          <p class="jtext mt-3 mb-6">
            Check-in after 23.00, it is mandatory to contact the hotel first
            formerly.
          </p>
          <p class="ptext">
            This hotel has a policy of not accepting any reservations
            made by a non-married couple in one room. couple that
            married must have and show identity
            such as KTP husband and wife with the same address / photocopy of book
            Nikah / wedding photos at the time of registration. Hotels
            reserves the right to cancel/reject the reservation if the guest does not
            can/refuse to show the requested ID.
          </p>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="footer-col">
          <div class="social-links">
            <a href="https://wa.me/+6281325852102" target="_blank"><i class="fab fa-whatsapp"></i></a>
            <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9">Jl. Serayu II No.44, Kedungsari, Kec. Magelang
              </a>
            </li>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9">Utara, Kota Magelang, Jawa Tengah 59155</a>
            </li>
            <div class="karepe" style="margin-top: 25px">
              <li>
                <a class="ktl" href="https://wa.me/+6281325852102">Phone : (0293) 362185</a>
              </li>
              <li>
                <a href="mailto:wismasejahteramgl@gmail.com">Email : wismasejahteramgl@gmail.com</a>
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>