.content{
  margin-top: 2cm;
  display: flex;
  flex-direction: column;
}

.background1 {
    background-image: url('../../assets/img/ngs.png');
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 504px;
    width: auto;
    
  }

  .btext1{
    color: #2C512B;
    text-align: left;
    font-size: 20px;
    font-family: 'Poppins';
    position: absolute;
    top: 25%;
    left: 7.5%;
  }

  .btext1 h1 {
    font-size: 35px;
    font-family: 'Poppins';
    color: #2C512B;
    font-weight: 1000;
    
  }

  @media (max-width: 768px) {
    .background1{
        background-position: right;
        filter: blur(5px);
        
    }
    .btext1{
      text-align: left;
        padding-left: 40px;
        font-size: 15px;
        color: #020202;
        top: 20%;
        right: 10%;
    }
  }

  @media (max-width: 425px) {
    .btext1{
      text-align: left;
        padding-left: 0px;
        font-size: 15px;
        top: 20%;
        left: 10%;
    }
  }
  @media (max-width: 375px) {
    .btext1{
      text-align: left;
        padding-left: 0px;
        font-size: 15px;
        top: 20%;
        left: 10%;
    }
  }

  .background {
    background-image: url('../../assets/img/ngs1.png');
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 504px;
    width: auto;
  }

  .btext h1 {
    font-size: 35px;
    font-family: 'Poppins';
    color: #2C512B;
    font-weight: 1000;
  }

  .btext{
    color: #2C512B;
    // margin-top: 20%;
    text-align: right;
    font-size: 20px;
    font-family: 'Poppins';
    position: absolute;
    top: 750px;
    right: 7.5%;
  }

  @media (max-width: 768px) {
    .background{
        background-position: left;
        filter: blur(5px);
        
    }
    .btext{
      text-align: left;
        padding-left: 40px;
        font-size: 15px;
        top: 725px;
        right: 10%;
    }
  }

  @media (max-width: 425px) {
    .btext{
      text-align: left;
        padding-left: 40px;
        font-size: 15px;
        top: 700px;
        right: 10%;
    }
  }
  @media (max-width: 375px) {
    .btext{
      text-align: left;
        padding-left: 40px;
        font-size: 15px;
        top: 675px;
        right: 10%;
    }
  }

  .background2 {
    background-image: url('../../assets/img/ngs.png');
    background-size: cover;
    background-position: center;
    padding: 100px;
    height: 504px;
    width: auto;
    
  }

  .btext2 {
    color: #2C512B;
    text-align: left;
    font-size: 20px;
    font-family: 'Poppins';
    position: absolute;
    top: 1250px;
    left: 7.5%;
  }

  .btext2 h1 {
    font-size: 35px;
    font-family: 'Poppins';
    color: #2C512B;
    font-weight: 1000;
  }

  @media (max-width: 768px) {
    .background2{
        background-position: right;
        filter: blur(5px);
        
    }
    .btext2{
      text-align: left;
        padding-left: 40px;
        font-size: 15px;
        color: #020202;
        top: 1225px;
        right: 10%;
    }
  }

  @media (max-width: 425px) {
    .btext2{
      text-align: left;
        padding-left: 0px;
        font-size: 15px;
        top: 1200px;
        left: 10%;
    }
  }
  @media (max-width: 375px) {
    .btext2{
      text-align: left;
        padding-left: 0px;
        font-size: 15px;
        top: 1175px;
        left: 10%;
    }
  }



// FOOTER SU //

kon {
  display: flex;
  flex-direction: column;
}

.footer {
  background-color: #457543;
  padding: 70px 0;
  margin-top: 10%;
  bottom: 0;
  width: 100%;
}

.social-links {
  margin-top: 10%;
}

.footer-col {
  width: auto;
  padding-left: 2%;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  // text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}

// .footer-col h4::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     bottom: -10;
//     background-color: #e91e63;
//     height: 2px;
//     box-sizing: border-box;
//     width: 50px;
// }
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li a {
  font-size: 16px;
  // text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: #020202;
  padding-left: 8px;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #457543;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: #ffffff;
  background-color: #2a4b2a;
}

@media (max-width:1024px) {
  .social-links {
      margin-top: 13%;
  }
}

@media (max-width:768px) {
  .footer-col {
      width: auto;
  }
}

@media (max-width: 767px) {
  .footer {
      margin-top: 100px;
  }
  .footer-col {
      width: auto;
      margin-bottom: 30px;
  }
}

@media (max-width: 574px) {
  .footer-col {
      width: auto;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  max-width: 1920px;
  margin: 0px;
  justify-content: space-between;
}
@media (max-width:425px) {
  .social-links {
      margin-top: 4%;
  }
  .row {
      margin-left: 4%;
  }
}


