
  <body>
    <div class="content">
      <div class="content-wrapper">
        <h1>Conventions & Exhibittions</h1>
        <br />
        <p>
          Our flexible, customisable space, adjacent loading bays, free WiFi and
        </p>
        <p>a host of other event services make Suntec Singapore the venue</p>
        <p>of choice for exhibitions, tradeshows and conventions.</p>
      </div>

      <div class="content-wrapper1">
        <h1>ORGANISER’S KIT</h1>
        <br />
        <p>
          We offer a full suite of conference management and exhibition services, free 
        </p>
        <p>WiFi and the latest AV technology to ensure the successful realisation of every </p>
        <p>event. Please refer to our Organiser’s Kit to obtain comprehensive information </p>
        <p>about our Centre.</p>
      </div>

      <div class="content-wrapper2">
        <h1>ENGAGE THEATRES</h1>
        <br />
        <p>
          We offer a full suite of conference management and exhibition services, free
        </p>
        <p>WiFi and the latest AV technology to ensure the successful realisation of every </p>
        <p>event. Please refer to our Organiser’s Kit to obtain comprehensive information</p>
        <p>about our Centre.</p>
      </div>
    </div>
    <div class="footer">
      <div class="row">
        <div class="footer-col">
          <div class="social-links">
            <a href="https://wa.me/+6281325852102" target="_blank"
              ><i class="fab fa-whatsapp"></i
            ></a>
            <a href="https://twitter.com/SejahteraWisma"
              ><i class="fab fa-twitter"></i
            ></a>
            <a href="https://www.instagram.com/wismasejahteramagelang/"
              ><i class="fab fa-instagram"></i
            ></a>
            <a href="https://www.youtube.com/@wismasejahtera6019"
              ><i class="fab fa-youtube"></i
            ></a>
          </div>
        </div>
        <div class="footer-col">
          <ul>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
              </a>
            </li>
            <li>
              <a class="ktl" href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                >Utara, Kota Magelang, Jawa Tengah 59155</a
              >
            </li>
            <div class="karepe" style="margin-top: 25px">
              <li>
                <a class="ktl" href="https://wa.me/+6281325852102"
                  >Phone : (0293) 362185</a
                >
              </li>
              <li>
                <a href="mailto:wismasejahteramgl@gmail.com"
                  >Email : wismasejahteramgl@gmail.com</a
                >
              </li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </body>

