<header class="header" id="header">
  <nav class="navbar container">
   <a > <img class="brand" src="../../../assets/img/google.png" alt="Wisma Sejahtera Logo"></a>
     <div class="burger" id="burger">
        <span class="burger-line"></span>
        <span class="burger-line"></span>
        <span class="burger-line"></span>
     </div>
     <span class="overlay"></span>
     <div class="menu" id="menu">
        <ul class="menu-inner">
           <a routerLink="/" class="hvr-float-shadow">Home</a>
           <hr>
           <a routerLink="meeting" class="hvr-float-shadow" style="letter-spacing: 2px;">MICE</a>
           <hr>
           <a routerLink="events" class="hvr-float-shadow">Events</a>
           <hr>
           <a routerLink="wedding" class="hvr-float-shadow">Wedding</a>
           <hr>
           <a routerLink="facilities" class="hvr-float-shadow">Facilities</a>
           <hr>
           <a routerLink="room" class="hvr-float-shadow">Room</a>
           <hr>
           <!-- <a href="booking" class="hvr-float-shadow">Booking</a> -->
           <div class="border-t py-6 px-4 md:px-12 md:py-16 lg:border-t-0 lg:border-l lg:py-0 lg:pr-0 lg:pl-6 ">
              <a routerLink="/booking" class="btn red block circular ">
                BOOKING
              </a>
            </div>
           <!-- <li class="menu-item1"><a class="menu-link" href="./index.html">Home <hr></a></li>
           <li class="menu-item"><a class="menu-link" routerLink="meeting">Meeting</a></li>
           <li class="menu-item"><a class="menu-link" routerLink="event">Events</a></li>
           <li class="menu-item"><a class="menu-link" routerLink="wedding">Wedding</a></li>
           <li class="menu-item"><a class="menu-link" routerLink="facilities">Facilities</a></li>
           <li class="menu-item"><a class="menu-link" routerLink="room">Room</a></li>
           <li class="menu-item2"><a class="menu-link" routerLink="booking">Booking</a></li> -->
        </ul>
     </div>
    
  </nav>
</header>

<!-- <nav class="navbar fixed-top" style="background-color: rgba(236, 254, 234, 1)">
   <div class="navbar-container container">
     <input type="checkbox" name="" id="" />
     <div class="hamburger-lines">
       <span class="line line1"></span>
       <span class="line line2"></span>
       <span class="line line3"></span>
     </div>
     <ul class="menu-items">
       <li routerLink="/" class="item">
         <a 
           ><span
             class="sp relative"
             style="font-family: Montserrat; font-weight: 500; color: #2c512b"
             >HOME</span
           ></a
         >
         <hr class="ln">
       </li>
       <section>
         <li class="dd item">
           <a id="room" class="group relative">
             <span class="sp relative"
               >MEETING & EVENTS <i class="fa-solid fa-caret-down"></i
             ></span>
             <ul class="drop-men">
               <li [routerLink]="['/meeting']" class="drop-menu">
                 <a >MEETING ROOM</a>
               </li>
               <hr />
               <li [routerLink]="['/events']" class="drop-menu">
                 <a >EVENTS</a>
               </li>
             </ul>
           </a>
           <hr class="ln">
         </li>
       </section>
 
       <li routerLink="/wedding" class="item">
         <a 
           ><span
             class="sp relative"
             style="font-family: Montserrat; font-weight: 500; color: #2c512b"
             >WEDDING</span
           ></a
         >
         <hr class="ln">
       </li>
       <li routerLink="/facilities" class="item">
         <a 
           ><span
             class="sp relative"
             style="font-family: Montserrat; font-weight: 500; color: #2c512b"
             >FACILITIES</span
           >
         </a>
         <hr class="ln">
       </li>
       <li routerLink="/room" class="item">
         <a 
           ><span
             class="sp relative"
             style="font-family: Montserrat; font-weight: 500; color: #2c512b"
             >ROOM</span
           >
         </a>
         <hr class="ln">
       </li>
       <div class="py-6 px-4 md:px-12 md:py-16 lg:py-0 lg:pr-0 lg:pl-6">
         <a routerLink="/booking" class="btn red block circular"> BOOKING </a>
       </div>
     </ul>
 
     <h1 class="logo">
       <img src="../../assets/img/WSH.png" alt="" class="w-32" />
     </h1>
   </div>
 </nav> -->