<div class="h-screen" style="background-color: rgba(236, 254, 234, 1);">
    
</div>

<div class="footer">
  <div class="row">
      <div class="footer-col">
          <div class="social-links">
              <a href="#"><i class="fab fa-facebook"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
      </div>        
      <div class="footer-col">
          <ul>
              <li><a href="#">Jl. Serayu II No.44, Kedungsari, Kec. Magelang  </a></li>
              <li><a href="#">Utara, Kota Magelang, Jawa Tengah 59155</a></li>
              <div class="karepe" style="margin-top: 25px;">
              <li><a href="#">Phone : (0293) 362185</a></li>
              <li><a href="#">Email : wismasejahtera@gmail.com</a></li>
              </div>
          </ul>
      </div>
  </div>
  
</div>