<header>Wisma Sejahtera Magelang</header>
<body  (click)="onClick()">
  <div class="kon">
    <div class="contain" style="background-color: rgba(236, 254, 234, 1)">
      <div class="carousel" style="margin-top: 5rem">
        <c-carousel>
          <c-carousel-indicators></c-carousel-indicators>
          <c-carousel-inner>
            <c-carousel-item *ngFor="let slide of slides">
              <img
                [src]="slide.src"
                alt="{{ slide.title }}"
                class="d-block w-100 h-100"
                loading="lazy"
              />
            </c-carousel-item>
          </c-carousel-inner>
          <c-carousel-control
            [routerLink]
            caption="Previous"
            direction="prev"
          ></c-carousel-control>
          <c-carousel-control
            [routerLink]
            caption="Next"
            direction="next"
          ></c-carousel-control>
        </c-carousel>
      </div>
      <div class="column">
        <div class="welkam">
          <ul class="ph1">
            <img src="../assets/img/Group 42.png" alt="" />
          </ul>
        </div>
        <div class="phv">
          <ul>
            <img src="../assets/img/cont1.png" alt="" />
          </ul>
        </div>
        <p class="ptext">
        Wisma Sejahtera Magelang dengan Meeting, Incentive, Convention, Exhibition (MICE),
        MEETING atau persidangan merupakan hal yang lazim dalam sebuah rapat, kami menyediakan ruang rapat untuk 
        kelompok orang yang tergabung dalam suatu asosiasi, organisasi atau perserikatan.
        
        Kami
        sediakan ruang INSENTIF untuk pengusaha dan karyawan 
        dalam kegiatan perjalanan yang diselenggarakan 
        oleh suatu perusahaan untuk para karyawan dan mitra usaha sebagai imbalan penghargaan atas prestasi mereka.
        
        CONVENSION
        kami sediakan ruangan pertemuan untuk sekelompok orang (negarawan, usahawan, dan sebagainya) untuk
        membahas masalah-masalah yang berkaitan dengan kepentingan bersama.

        EXHIBITION
        Kami bersedia memamerkan kegiatan untuk menyebarluaskan informasi dan promosi yang ada hubungannya dengan 
        penyelenggaraan konvensi atau yang ada kaitannya dengan pariwisata anda.
        </p>
        <div class="">
          <!-- <a routerLink="/booking" class="btn red block circular">
            Learn More
          </a> -->
          <div class="ptext1" style="margin-left: 1, 2px">
            <div [ngClass]="{ limitTextHeight: isReadmore }">
              Terletak 20,9 km dari Candi Borobudur, wisma sejahtera hotel menawarkan akomodasi bintang 2 di Magelang dan memiliki teras. Dengan taman, hotel bintang 2 ini memiliki kamar-kamar ber-AC dengan Wi-Fi gratis, masing-masing dengan kamar mandi pribadi. Hotel ini memiliki kamar keluarga.
              Kamar-kamar di hotel ini dilengkapi dengan TV layar datar.
              Stasiun Tugu Yogyakarta berjarak 45,1 km dari hotel wisma sejahtera, sedangkan Tugu Yogyakarta berjarak 45,1 km dari properti. Bandara terdekat adalah Bandara Internasional Adisutjipto, 51,5 km dari akomodasi.
            </div>
          </div>
          <button
            type="button"
            id="foo"
            (click)="showText()"
            class="hohoho rrm btn red block circular"
          >
            {{ isReadmore ? "Learn More" : "Read Less" }}
          </button>
        </div>
      </div>
      <div class="center">
        <img src="../assets/img/Group 3.png" />
      </div>
      <div class="mid">
        <div class="tek">
          <p class="tx"><b>Special Meeting</b></p>
          <p class="tx1" style="font-size: 18px; color: rgba(0, 0, 0, 0.62)">
            Start from Rp.65.000,00
          </p>
          <button
            type="button"
            (click)="learnBuy()"
            class="btn red block circular"
          >
            {{ isReadmore ? "Learn More" : "Read Less" }}
          </button>
        </div>
        <div class="im">
         <img class="imeg" src="../assets/img/5.png" />
        </div>
      </div>
      <div class="mid1">
        <div class="tek1">
          <p class="tx"><b>Special Wedding</b></p>
          <!-- <p class="tx1" style="font-size: 18px; color: rgba(0, 0, 0, 0.62)">
            Just Rp 15.000.000,00
          </p> -->
          <button
            type="button"
            (click)="learnBuy2()"
            class="btn red block circular"
          >
            {{ isReadmore ? "Learn More" : "Read Less" }}
          </button>
        </div>
        <div class="im">
          <img class="imeg" src="../assets/img/w3.png" />
        </div>
      </div>

      <section style="padding-top: 5%"></section>
    </div>
    <footer>
      <div class="footer">
        <div class="row">
          <div class="footer-col">
            <div class="social-links">
              <a href="https://wa.me/+6281325852102" target="_blank"
                ><i class="fab fa-whatsapp"></i
              ></a>
              <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
              <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
            </div>
          </div>
          <div class="footer-col">
            <ul>
              <li>
                <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                  >Jl. Serayu II No.44, Kedungsari, Kec. Magelang Utara,
                </a>
              </li>
              <li>
                <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
                  > Kota Magelang, Jawa Tengah 59155</a
                >
              </li>
              <div class="karepe" style="margin-top: 25px">
                <li>
                  <a href="https://wa.me/+6281325852102">Phone : (0293) 362185</a>
                </li>
                <li>
                  <a href="mailto:wismasejahtera@gmail.com"
                    >Email : wismasejahtera @gmail.com</a
                  >
                </li>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</body>
<script>
  const f = document.getElementById("foo");
  document.addEventListener(
    "click",
    (ev) => {
      f.style.transform = `translateY(${ev.clientY - 25}px)`;
      f.style.transform += `translateX(${ev.clientX - 25}px)`;
    },
    false
  );
</script>
