<body>
  <div class="h-screen" style="background-color: rgba(236, 254, 234, 1)">
    <div class="carousel" style="margin-top: 5rem">
      <c-carousel>
        <c-carousel-indicators></c-carousel-indicators>
        <c-carousel-inner>
          <c-carousel-item *ngFor="let slide of slides">
            <img
              [src]="slide.src"
              alt="{{ slide.title }}"
              class="d-block w-100"
              loading="lazy"
            />
          </c-carousel-item>
        </c-carousel-inner>
        <c-carousel-control
          [routerLink]
          caption="Previous"
          direction="prev"
        ></c-carousel-control>
        <c-carousel-control
          [routerLink]
          caption="Next"
          direction="next"
        ></c-carousel-control>
      </c-carousel>
    </div>

    <div class="cont">
      <div class="specev">
        <ul class="ph1">
          <img src="../assets/img/Group 26.svg" alt="" />
        </ul>
      </div>
      <div class="vl"></div>
      <div class="vl1"></div>
      <div class="ptext">
        <h3><b style="text-align: left">Meeting Information</b></h3>
        <p class="ptext">
          Hotel Wisma Sejahtera menyediakan 5 Ruang Pertemuan yang tersedia
          untuk fungsi serbaguna dan dapat menampung dari 10 hingga 500 orang.
          Fasilitas pertemuan kami dilengkapi dengan teknologi audio-visual
          modern, layar proyektor ukuran penuh, dan mikrofon nirkabel plus satu
          set fasilitas pertemuan standar . Atas permintaan, kami juga
          menyediakan konferensi video dengan tampilan layar LED HD yang besar,
          dan mikrofon nirkabel ultra-sensitif yang dapat menampung ruang
          konferensi yang besar. Biarkan Pakar Meeting Wisma kami yang berbakat
          menangani semua detail rapat Anda untuk menyukseskan acara Anda.
        </p>
        <h3><b>Paket Pertemuan Eksklusif</b></h3>
        <ul class="ptext1">
          <li class="spasi">
           <b>1. PAKET PERTEMUAN Quarter day Meeting (AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break)</b> 
          </li>
          <ul>
            <li>Start from Rp.65.000,00</li><br>
          </ul>
          <li class="spasi">
           <b>2. PAKET PERTEMUAN Half Day Meeting (AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break, meal 1x)</b> 
          </li>
          <ul>
            <li>26-50 person Rp.140.000,00/pack</li>
            <li>51> person Rp.115.000,00/pack</li>
          </ul><br>
          <li class="spasi">
           <b> 3. PAKET PERTEMUAN One day Meeting (AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break 2x, meal 1x)</b>
          </li>
          <ul>
            <li>26-50 person Rp.165.000,00/pack</li>
            <li>51> person Rp.145.000,00/pack</li>
          </ul><br>
          <li class="spasi">
           <b>4. PAKET PERTEMUAN Full day Meeting (AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break 2x, meal 2x)</b> 
          </li>
          <ul>
            <li>26-50 person Rp.215.000,00/pack</li>
            <li>51> person Rp.195.000,00/pack</li>
          </ul><br>
          <li class="spasi">
           <b>5. PAKET PERTEMUAN Fullboard Package A Meeting (Rooms 2 person/room, venue AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break 2x, meal 3x)</b> 
          </li>
          <ul>
            <li>26-50 person Rp.370.000,00/pack</li>
            <li>51> person Rp.340.000,00/pack</li>
          </ul><br>
          <li class="spasi">
           <b>6. PAKET PERTEMUAN Fullboard package B Meeting (Rooms 3 person/room, Venue AC, LCD, Wifi, White board, Soundsystem, Setting ruangan, Coffe break 2x, meal 3x)</b> 
          </li>
          <ul>
            <li>26-50 person Rp.355.000,00/pack</li>
            <li>51> person Rp.315.000,00/pack</li>
          </ul>
        </ul>
      </div>
      <br />
      <br />
      <hr />
    </div>
    <!-- <p class="ruang" style="font-size:30px; text-align: center; font-family: Montserrat; width: 100%;">
          Ruang Pertemuan & Ruang Pameran</b>
        </p>
        <br> -->
  </div>
</body>

<br />
<br />
<br />

<div class="container">
  <!--Product Grid-->

  <b
    style="
      font-size: 25px;
      text-align: center;
      font-family: Montserrat;
      width: 100%;
      margin-bottom: 4%;
      line-height: 1;
    "
    >Ruang Pertemuan & Ruang Pameran</b
  >

  <div id="div1">
    <section class="section-grid">
      <div class="grid-prod">
        <div class="prod-grid">
          <img src="../assets/img/m1.png" alt="kalita" />
          <h2><b>Aula Filadelphia</b></h2>
          <ul class="bbi">
             <li>Lantai      : lantai 4TH</li>
             <li style="padding-top: 4px;">Panggung     : 11,40 meter x 3 meter</li>
             <li style="padding-top: 4px;">Dimensi     : 14,75 meter x 13 meter</li>
             <li style="padding-top: 4px;">Tinggi      : 3,1 meter</li>
             <li style="padding-top: 4px;">Makan Minum      : 1-2 kali</li>
             <li style="padding-top: 4px;">Fasilitas 1   : Meja Kursi</li>
             <li style="padding-top: 4px;">Fasilitas 2   : Prasmanan</li>
             <li style="padding-top: 4px;">Fasilitas 3   : Mic & Sound </li>
             <li style="padding-top: 4px;">Tampungan : 50 - 100 orang</li>
          </ul>
          <br />
          <c-dropdown>
            <button class="btn btn-secondary" cButton cDropdownToggle >
              {{ isReadmore ? "Pilih Paket" : "Read Less" }}
            </button>
            <ul class="kentir" cDropdownMenu style="background-color: antiquewhite; margin-top: 10px; ">
              <li><a (click)="learnBuy1()" cDropdownItem>Quarter Day Meeting</a></li>
              <li><a (click)="learnBuy2()" cDropdownItem>Half Day Meeting</a></li>
              <li><a (click)="learnBuy3()" cDropdownItem>One Day Meeting</a></li>
              <li><a (click)="learnBuy4()" cDropdownItem>Full Day Meeting</a></li>
              <li><a (click)="learnBuy5()" cDropdownItem>Fullboard package A</a></li>
              <li><a  (click)="learnBuy6()" cDropdownItem>Fullboard package B</a></li>
            </ul>
          </c-dropdown>
        </div>
        <div class="prod-grid">
          <img src="../assets/img/m2.png" alt="kalita" />
          <h2><b>Aula Wisma Sejahtera</b></h2>
          <ul class="bbi">
            <li>Lantai      : lantai 4TH</li>
             <li style="padding-top: 4px;">Panggung     : 11,40 meter x 3 meter</li>
             <li style="padding-top: 4px;">Dimensi     : 26,6 meter x 14,7 meter</li>
             <li style="padding-top: 4px;">Tinggi      : 3,1 meter</li>
             <li style="padding-top: 4px;">Makan Minum      : 1-2 kali</li>
             <li style="padding-top: 4px;">Fasilitas 1   : Meja Kursi</li>
             <li style="padding-top: 4px;">Fasilitas 2   : Prasmanan</li>
             <li style="padding-top: 4px;">Fasilitas 3   : Mic & Sound </li>
             <li style="padding-top: 4px;">Tampungan : 50 - 500 orang</li>
          </ul>
          <br />
          <c-dropdown>
            <button class="btn btn-secondary" cButton cDropdownToggle >
              {{ isReadmore ? "Pilih Paket" : "Read Less" }}
            </button>
            <ul class="kentir" cDropdownMenu style="background-color: antiquewhite; margin-top: 10px; ">
              <li><a (click)="learnBuy7()" cDropdownItem>Quarter Day Meeting</a></li>
              <li><a (click)="learnBuy8()" cDropdownItem>Half Day Meeting</a></li>
              <li><a (click)="learnBuy9()" cDropdownItem>One Day Meeting</a></li>
              <li><a (click)="learnBuy10()" cDropdownItem>Full Day Meeting</a></li>
              <li><a (click)="learnBuy11()" cDropdownItem>Fullboard package A</a></li>
              <li><a (click)="learnBuy12()" cDropdownItem>Fullboard package B</a></li>
            </ul>
          </c-dropdown>
        </div>
        <div class="prod-grid">
          <img src="../assets/img/1.png" alt="kalita" />
          <h2><b>Upper Hall Ballcony</b></h2>
          <ul class="bbi">
                   <li>Lantai      : lantai 4TH</li>
             <li style="padding-top: 4px;">Panggung     : 11,40 meter x 3 meter</li>
             <li style="padding-top: 4px;">Dimensi     : 10 meter x 8 meter</li>
             <li style="padding-top: 4px;">Tinggi      : 3,1 meter</li>
             <li style="padding-top: 4px;">Makan Minum      : 1-2 kali</li>
             <li style="padding-top: 4px;">Fasilitas 1   : Meja Kursi</li>
             <li style="padding-top: 4px;">Fasilitas 2   : Prasmanan</li>
             <li style="padding-top: 4px;">Fasilitas 3   : Mic & Sound </li>
             <li style="padding-top: 4px;">Tampungan : 10 - 50 orang</li>
          </ul>
          <br />
          <!-- <button
          type="button"
          (click)="learnBuy2()"
          class="btn red block circular"
        >
          {{ isReadmore ? "Buy Now" : "Read Less" }}
        </button> -->
        <c-dropdown>
          <button class="btn btn-secondary" cButton cDropdownToggle >
            {{ isReadmore ? "Pilih Paket" : "Read Less" }}
          </button>
          <ul class="kentir" cDropdownMenu style="background-color: antiquewhite; margin-top: 10px; ">
            <li><a (click)="learnBuy13()" cDropdownItem >Quarter Day Meeting</a></li>
            <li><a (click)="learnBuy14()" cDropdownItem>Half Day Meeting</a></li>
            <li><a (click)="learnBuy15()" cDropdownItem>One Day Meeting</a></li>
            <li><a (click)="learnBuy16()" cDropdownItem>Full Day Meeting</a></li>
            <li><a (click)="learnBuy17()" cDropdownItem>Fullboard package A</a></li>
            <li><a (click)="learnBuy18()" cDropdownItem>Fullboard package B</a></li>
          </ul>
        </c-dropdown>
        </div>
        <div class="prod-grid">
          <h1 class="cms"><b>Coming Soon</b></h1>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="footer">
  <div class="row">
    <div class="footer-col">
      <div class="social-links">
        <a href="https://wa.me/+628988735324" target="_blank"
          ><i class="fab fa-whatsapp"></i
        ></a>
        <a href="https://twitter.com/SejahteraWisma"><i class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/wismasejahteramagelang/"><i class="fab fa-instagram"></i></a>
        <a href="https://www.youtube.com/@wismasejahtera6019"><i class="fab fa-youtube"></i></a>
      </div>
    </div>
    <div class="footer-col">
      <ul>
        <li>
          <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
            >Jl. Serayu II No.44, Kedungsari, Kec. Magelang
          </a>
        </li>
        <li>
          <a href="https://goo.gl/maps/CfY3dRzw8DtjmTAf9"
            >Utara, Kota Magelang, Jawa Tengah 59155</a
          >
        </li>
        <div class="karepe" style="margin-top: 25px">
          <li>
            <a href="https://wa.me/+6281325852102">Phone : (0293) 362185</a>
          </li>
          <li>
            <a href="mailto:wismasejahtera@gmail.com"
              >Email : wismasejahtera @gmail.com</a
            >
          </li>
        </div>
      </ul>
    </div>
  </div>
</div>
