<body>
    <div class="contain">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3956.0488891177533!2d110.22150425092806!3d-7.45984387557286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a85e6003dea71%3A0xbda2a94343024600!2sWisma%20Sejahtera%20Magelang!5e0!3m2!1sid!2sid!4v1677584018601!5m2!1sid!2sid" width="100%" height="750px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="cont">
        <div class="specev">
            <ul class="ph1">
                <img src="../assets/Group 36.svg" alt="" />
            </ul>
        </div>
        <div class="vl"></div>
        <div class="vl1"></div>
        <div class="tt">
            <p class="jtext mt-3">
                Deskripsi Kamar
            </p>
            <p class="ptext">
                Kamar memiliki luas 19,5 meter persegi, tersedia dalam dua tempat tidur single. kamar ini memiliki
                fasilitas AC, Heather, TV 32'', Shower, wi-fi lengkap, air mineral, sarapan gratis, teras
            </p>
            <p class="jtext mt-3">
                Fasilitas kamar
            </p>
            <p class="ptext">
                <i class="fa-solid fa-circle fa-2xs"></i>
                AC
            </p>
            <p class="ptext">
                <i class="fa-solid fa-circle fa-2xs"></i>
                Air minum
            </p>
            <p class="ptext">
                <i class="fa-solid fa-circle fa-2xs"></i>
                Televisi
            </p>
            <p class="ptext">
                <i class="fa-solid fa-circle fa-2xs"></i>
                Kamar Mandi
            </p>
            <p class="jtext mt-3 mb-6">
                Check in di atas pukul 23.00, wajib untuk menghubungi hotel terlebih dahulu.
            </p>
            <p class="ptext">
                Hotel ini memiliki kebijakan untuk tidak menerima reservasi yang dibuat oleh pasangan non-menikah
                dalam satu kamar. Pasangan yang sudah menikah harus memiliki dan memperlihatkan identitas diri
                seperti KTP suami-Istri dengan alamat yang sama / fotokopi Buku Nikah / foto-foto pernikahan pada
                saat registrasi. Pihak hotel berhak untuk membatalkan/menolak reservasi jika tamu tidak
                dapat/menolak menunjukkan kartu identitas yang diminta.
            </p>
        </div>
    </div>
</body>