<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer responsive</title>
    <script src="fontawesome/all.js"></script>
</head>
<body>
    <div class="container">
        <div class="header">
            <!-- Posisi Header -->
        </div>
        <div class="content">
            <!-- Posisi konten -->
        </div>
        <div class="footer">
            <div class="row">
                <div class="footer-col">
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>        
                <div class="footer-col">
                    <ul>
                        <li><a href="#">Jl. Serayu II No.44, Kedungsari, Kec. Magelang  </a></li>
                        <li><a href="#">Utara, Kota Magelang, Jawa Tengah 59155</a></li>
                        <div class="karepe" style="margin-top: 25px;">
                        <li><a href="#">Phone : (0293) 362185</a></li>
                        <li><a href="#">Email : wismasejahtera@gmail.com</a></li>
                        </div>
                    </ul>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>